<html lang="en">
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <%- include('partials/nav.ejs') %>
        <h1>Result</h1>
        <p><%=obj.string.split('').reverse().join('') %></p>
    </body>
</html>